<!DOCTYPE HTML>
<!--__________                 ___________                .___
\____    /___________  ____\_   _____/_ __  ____    __| _/
  /     // __ \_  __ \/  _ \|    __)|  |  \/    \  / __ | 
 /     /\  ___/|  | \(  <_> )     \ |  |  /   |  \/ /_/ | 
/_______ \___  >__|   \____/\___  / |____/|___|  /\____ | 
        \/   \/                 \/             \/      \/ 
Welcome to ZeroFund kickstarter-like page. Please search for NOTE and read what you have to do.
You will have to modify this page with content relative to your page. 
There are no guidelines on how to do it because if you cannot modify a static HTML page 
most probably you shouldn't spend your time talking tech startups.
Add photos, a video, links to social media, description of your product and your team. 
You may even modify the look and feel of the page just DO NOT touch Javascript. I warned you!
Good luck!
-->
<html>
<head>
<meta charset="UTF-8">
<title>Zerofund.org</title>

<!-- // Webfont -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic,400italic">

<!-- // CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/nivo-slider.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/alertify.core.css">
<link rel="stylesheet" href="css/alertify.default.css">

<!--[if IE 8]>
<style type="text/css">@import url(css/ie8.css);</style>
<![endif]-->
<!--[if IE 7]>
<style type="text/css">@import url(css/ie7.css);</style>
<![endif]-->

<!-- // JavaScript (All JavaScript at the bottom, except this Modernizr build.) -->
<script src="js/libs/modernizr-2.0.6.js"></script>
<script src="js/alertify.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>
<script type="text/javascript">
    // NOTE: Modify the following values
    var name = 'Weather ex Machina';
    var url = 'http://weatherxm.com';
    // Initialize Parse
    Parse.initialize("FNWbbpkez3ZSyErI3IEbOwrCeJsuxaNKnC14neT7", "SIAdJGSpRcVcwDao83Ruw0XPpe8GXSrbWr4Sz4lo");
    $(function(){
        $('title').text('Back '+name+' on Zerofund!')
        // Parse objects
        window.currentUser = Parse.User.current();
        window.user = new Parse.User(); // if signup
        var Startup = Parse.Object.extend("Startup");
        var Vote = Parse.Object.extend("Vote");
        // Create the startup entry
        var query = new Parse.Query(Startup);
        query.equalTo("name", name);
        query.find({
            success: function(results) {
                if (results.length>0) window.startup = results[0];
                else {
                    window.startup = new Startup();
                    startup.set("name", name);
                    startup.set("url", url);
                    if (document.URL.indexOf('zerofund.org')>0) startup.set("page_url", document.URL);
                    startup.save();
                }
            }
        });

        // Get total statistics
        // Vote and login if needed
        $('#cta a').click(function(ev){
            ev.preventDefault();
            if (currentUser) {
                var query = new Parse.Query(Vote);
                query.equalTo("parent", window.currentUser);
                query.equalTo("startup", window.startup);
                query.find({
                  success: function(results) {
                    if (results.length > 0){
                        var msg = 'You have already backed '+window.startup.get('name');
                        $('#cta a').html(msg);
                        alertify.error(msg);
                    } else {
                        // Prompt to vote
                        // Check if this user has voted for this startup
                        alertify.prompt( 'If could fund '+startup.get('name')+' right now, how many Euros out of your pocket would you give them?', function (e, str) {
                            if (e) {
                                if (parseInt(e)==NaN){
                                    alertify.error( 'We need a number. Dont cheat!' );
                                } else {
                                    var vote = new Vote();
                                    vote.set("amount", parseInt(str));
                                    vote.set("parent", window.currentUser);
                                    vote.set("startup", window.startup);
                                    vote.save();
                                    alertify.success( 'You are the man!' );
                                    $('#cta a').html('Thanks a lot!');
                                    statistics();

                                    // Facebook publisher
                                    FB.ui({
                                       method: 'feed',
                                       name: $('title').text(),
                                       caption: "Stop talking! Support startups today!",
                                       description: $('#accordion p:first').text(),
                                       link: document.URL,
                                       picture: $('#slider img:first').attr('src')
                                      },
                                      function(response) {console.log(response);
                                        if (response && response.post_id) {
                                          alertify.success("You are truly awesome!");
                                        } else {
                                          alertify.error("Oops. It seems you have to share manually!");
                                        }
                                    });
                                }
                            } else {
                                alertify.error( 'Y U NO BACK?' );
                            }
                        });

                    }
                  },
                  error: function(error) {
                    alertify.error("Error: " + error.code + " " + error.message);
                  }
                });
            } else {
                alertify.set({ labels: { ok: "Login", cancel: "Singup" } });
                alertify.confirm( 'Please login in order to back '+startup.get('name'), function (e) {
                    if (e) {
                        login();
                    } else {
                        signup();
                    }
                });
            }
        });
        // Show Backers and total amount
        window.statistics_query = new Parse.Query(Vote);
        statistics();

        // Days Left
        var today = new Date();
        var BigDay = new Date("March 20, 2013");
        var timeLeft = (BigDay.getTime() - today.getTime());
        $('#daysLeft').text(Math.floor(timeLeft / (24 * 60 * 60 * 1000)));

    });
    var statistics = function(){
        window.statistics_query.equalTo("startup", window.startup);
        window.statistics_query.find({
            success: function(results) {
                var total = 0;
                var backers = results.length;

                for (var i=0; i<backers; i++) total += results[i].get('amount');
                $('#backers').text(backers);
                $('#amount').html(total+'&euro;');
            }
        });
    }
    var login = function(){
        alertify.set({ labels: { ok: "Submit", cancel: "Cancel" } });
        alertify.prompt( 'Email', function (e, str) {
            if (e) {
                alertify.success('Thanks.')
                user.set('email', str);
                alertify.prompt( 'Password', function (e, str) {
                    if (e) {
                        user.set('password', str);
                        Parse.User.logIn(user.get('email').trim(), user.get('password').trim(), {
                            success: function(user) {
                                window.currentUser = Parse.User.current();
                                alertify.success( 'Welcome back to Zerofund!' );
                                $('#cta a').click();
                            },
                            error: function(user, error) {
                                alertify.error( 'You stranger, try again!' );
                                $('#cta a').click();
                            }
                        });
                    } else {
                        alertify.error( 'BECAUSE NO CLEAR?' );
                    }
                });
            } else {
                alertify.error( 'Y U STOP?' );
            }
        });
    }
    var signup = function(){
        alertify.set({ labels: { ok: "Submit", cancel: "Cancel" } });
        alertify.prompt( 'Email', function (e, str) {
            if (e) {
                alertify.success('Thanks.')
                user.set('email', str);
                user.set('username', str);
                alertify.prompt( 'Password', function (e, str) {
                    if (e) {
                        user.set('password', str);
                        user.signUp(null, {
                            success: function(user) {
                                window.currentUser = Parse.User.current();
                                alertify.success( "Welcome to Zerofund! Let's back "+startup.get('name') );
                                $('#cta a').click();
                            },
                            error: function(user, error) {
                                // Show the error message somewhere and let the user try again.
                                alertify.error("Error: " + error.code + " " + error.message);
                            }
                        });
                    } else {
                        alertify.error( 'BECAUSE NO CLEAR?' );
                    }
                });
            } else {
                alertify.error( 'Y U STOP?' );
            }
        });
    }
</script>
</head>

<body>

<!-- Outer Wrapper -->
<div id="wrapper-outer">
	
	<!-- Inner Wrapper -->
	<div id="wrapper-inner">
	
		<!-- Header -->
		<header id="header">
		
			<!-- Logo -->
			<div id="logo"></div>
			<!-- Logo END -->
		
			<!-- Social -->
            <!-- NOTE: ADD LINKS TO YOUR SOCIAL MEDIA -->
			<ul class="social">
				<li><a href="https://www.facebook.com/weatherxm"><i class="icon-facebook"></i></a></li>
				<li><a href="https://twitter.com/WeatherXM"><i class="icon-twitter"></i></a></li>
				<li><a href="http://www.linkedin.com/company/2843441?trk=pro_other_cmpy"><i class="icon-linkedin"></i></a></li>
				<li><a href="https://plus.google.com/116605502750494833554"><i class="icon-google-plus"></i></a></li>
			</ul>
			<!-- Social END -->
			
			<div class="clearfix"></div>
			
		</header>
		<!-- Header END -->
		
		<!-- Hero -->
		<div id="hero">
		
			<!-- Slider -->
            <!-- NOTE: add images of your company and/or product -->
			<div id="slider" class="nivoSlider">
				<img src="images/wxm_back2.gif" alt="" title="#Yes, sky is the limit, but knowning the weather will help...">
				<img src="images/wxm_back.gif" alt="" title="#Yes, sky is the limit, but knowning the weather will help...">
			</div>
			<div id="slider-caption" class="nivo-html-caption">
                <!-- NOTE: appeal to backers! -->
				<p>Cracking weather forecasts together!<br/> <span>Help us take off by backing our project today!</span></p>
			</div>
			<!-- Slider END -->
			
			<!-- Info Bar -->
			<div id="infobar">
				<p>
                    <span><i class="icon-group"></i> <strong id='backers'></strong> Backers </span>
                    <span><i class="icon-briefcase"></i> <strong id='amount'></strong> 
                    <span><i class="icon-time"></i> <strong id='daysLeft'>20</strong> days left</span>
                </p>
			</div>
			<!-- Info Bar END -->
			
		</div>
		<!-- Hero END -->
		
		<!-- Teasers END -->
		
		<!-- Main -->
		<div id="main">
		
			<!-- Info -->
			<div id="info">

				<!-- Video -->
				<div id="video">
					<iframe src="http://player.vimeo.com/video/60787218?title=0&amp;byline=0&amp;portrait=0&amp;color=77bb44" width="440" height="248" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
				<!-- Video END -->
				
				<!-- Accordion -->
                <!-- NOTE: tell us what is great about your product and your team -->
				<div id="accordion">

					<!-- Item 1 -->
					<div>
						<h2>The Pitch</h2>
						<div>
						  <p>If   you check the weather from different agencies/companies, you often see   contradicting forecasts for the same location. One says it will rain   while another one says it will be sunny. Who do you trust? None of these   services will tell you how accurate their predictions are!<br>That&rsquo;s where we come in.<br>
                            </p>
<h3>Weather  ex Machina, tracks the performance of every weather forecast provider. </h3>  <p> It&rsquo;s a system that continuously monitors their every single forecast and   compares it to the actual conditions.  As a result, we can tell you,   &ldquo;look, out of ALL these forecasting services, THIS has the best accuracy   for YOUR location, so this is the one you should trust&rdquo;.<br><br>
                        
                            In   order to do this, we use real time data from thousands of public   weather stations - but we don't stop there. We are developing a unique   mobile app that will collect your own weather data using a number of   techniques, essentially turning your mobile phone into a weather   station. We use this info to make even better personalized predictions   for you and the people around you.<br><br>
                        
                            By   using existing underutilized data, cutting-edge technology and   unexploited approaches, we will provide personalized hyper-local, weather   forecasts of unmatched accuracy.<br>
						  </p>
						</div>
					</div>
					<!-- Item 1 END -->
					
                    
                    <!-- Item 1 -->
					<div>
						<h2>The Service</h2>
						<div>
                          <p>We have created a service that aggregates and compares third-party forecasts with real-time weather conditions coming from weather stations, in order to measure forecasting accuracy per location and forecasting agency. We have concluded that some forecasting agencies persistently perform better than others on specific locations (and/or weather conditions) and we believe information like this can be further explored and yield in to new, innovative products.                            </p>
                          <p>These are some screenshots from our operational server, which monitors multiple forecasting agencies for a number of worldwide locations. What you see here, is a synthetic plot of temperature forecasts, that were published on each company’s website 5 days before the actual date-time. You can also see the actual temperature (WUNDER_ACTUAL) as recorded 5 days later by a public meteorological station in the exact location. The number next to each provider’s name is the root mean square average error of the specific time window.</p>
                          <p><a href="#"><img src="images/thessaloniki.jpg" width="440" height="228" onclick="window.open(this.src)"></a> &nbsp;&nbsp;&nbsp; <a href="#"><img src="images/newyork.jpg" width="440" height="228" onclick="window.open(this.src)"></a></p>
                          
                          <p><br><h4>To put it simply, if you wish to know the weather 5 days ahead for Thessaloniki you should trust freemeteo, but if you are interested in the weather of west New York, freemeteo is the last weather company you should trust.</h4><br>
                          </p>
						</div>
					</div>
					<!-- Item 1 END -->
                    
                    
                      <!-- Item 2 -->
                      
					<div>
						<h2>The App</h2>
						<div>
                          <p>
                    Casual users will probably be overwhelmed with charts and errors figures that our server generates, hence we are developing a smartphone app, that hides the complexity and displays the most important information in a user-friendly manner. 
                    
                    </p>
                    <p><a href="#"><img src="images/mockups.png"></a> &nbsp;&nbsp;&nbsp;</p>
                     <p>
                    Our app also acts as a weather forecast aggregator, so you can easily see all the forecasts (of many popular agencies) for your location of interest and get a quick glimpse if they all agree or not and how the weather is going to be like. When you get contradicting forecasts, (which is quite often) our system will identify the most accurate forecast based on previous performance in your location, so you can plan ahead with confidence.</p>
                          <p><strong>Is that all? Have we cracked the weather forecast?</strong><br>
In order to measure the forecast accuracy we need actual, real-time conditions from meteorological stations. Those are limited to a few thousand places worldwide, (public and private) so is it impossible to apply our concept in places where no such stations exist, like a beach with a microclimate ? </p>
                            <p><strong>Almost...once we have established a substantial user base we will add some unique methods for generating our own weather data to correlate with the forecasts in locations were no previous data existin</strong>g. Those methods are:
							</p>
                              <article class="featureitem">
                                <h3>Crowdsourcing weather observations</h3>
                                  <p>
                              We are planning to crowdsource weather observations, using gamification techniques to engage users. e.g. this company said 5 days ago, that it will now rain in your place! what do you say.
                              </p>
                            </article>
                            
						  <article class="featureitem">
                                  <h3>User generated forecasts</h3>
                            <p>
                              We can even motivate users to publish their own forecasts, and compete against the professionals, as mean to keep them engaged and provide even more weather observations. </p>
							  </article>
                        <article class="featureitem">
                                  <h3>Hardware sensors</h3>
                            <p>
                            We will use mobile phones’ internal sensors (such as Barometer existing in many high-end smartphones) to collect even more data, and we will wirelessly connect to external weather sensor hardware, that users may already own or purchase from us. (Actually we have designed our own cost-efficient, solid, compact weather station that connects over bluetooth with your smartphone, but that’s for later)
 </p>
 </article>
                      
                      </div>
					</div>
					<!-- Item 2 END -->
                    
                                      <!-- Item 1 -->
					<div>
						<h2>The Company</h2>
						<div>
                          <p>
                    We want to make sure that we become a real company rather than a group of geeks with a great idea, and a prototype. We are really proud of the work we’ve done so far, and believe that our idea is simple but the implementation is difficult. That is why we have joined the Metavallon incubator which is helping us with all the startup issues we face daily, and that is why we ask for your support.

With your funding we will expand our team, speed up our progress, get access to commercial weather data, get some server resources in the cloud, and build the best-accuracy weather app ever made :-)
<br><br>
Our funding goal is > €200k but every little bit helps.
                    </p>
						</div>
					</div>
					<!-- Item 1 END -->
                    
                   
					
					<!-- Item 3 -->
					<div>
						<h2>FAQ</h2>
						<div>
							<article class="faqitem">
								<h3><i class="icon-question-sign"></i>How can you compete with existing, massive meteorological companies?</h3>
								<p>We are not running meteorological models, we do not directly compete with them, we collect what they produce, and work on top of it to further improve the results.</p>
							</article>
                            							<article class="faqitem">
								<h3><i class="icon-question-sign"></i>Is it legal to use all these weather data and publish these conclusions?</h3>
								<p>We use free weather data from governmental agencies, and private/commercial ones from companies that sell them with specific licence agreement which we do not violate. We treat all forecasting providers equally and try not to discredit anyone (hence we will not publish countrywide statistics etc.) However, we do understand that our startup is quite disturbing, and some turbulence might occur.</p>
							</article>

							<article class="faqitem">
								<h3><i class="icon-question-sign"></i>So, once I find out which agency performs the best in my location, I do not need your app any more?</h3>
								<p>We have seen that accuracy persistence is shifting through time/seasons. Also companies might modify their forecasting models at anytime, hence the continuous use of our service is required in order to always get the best results. </p>
							</article>

						</div>
					</div>
					<!-- Item 3 END -->
					
					<!-- Item 4 -->
                    <!-- NOTE: This is the News section. You eithere remove it, replace or make it work ;-)
                    (remember this is a static page) -->
					<div>
						<h2>News</h2>
						<div>
							<article class="newsitem">
<br>We are currently working on our android app. To stay tuned for more at our <a href="http://www.fb.com/weatherxm">facebook page</a>. </article>
						</div>
					</div>
					<!-- Item 4 END -->
					
				</div>
				<!-- Accordion END -->
				
			</div>
			<p><!-- Info END -->
			  
			  <!-- Pledge -->
		  </p>
			<div id="pledge">
			
				<!-- Call to Action -->
				<div id="cta">
                    <!-- NOTE: you define the call to action -->
					<p>"Join the Weather Revolution!"</p>
					<a href="#">Back this project <span>minimum pledge is $1</span></a>
				</div>
				<!-- Call to Action END -->
			</div>
			<!-- Pledge END -->
			
			<div class="clearfix"></div>
			
		</div>
		<!-- Main END -->
		
		<!-- Team -->
		<div id="team">
			
			<!-- Section Title -->
			<h2>Our team</h2>
			<!-- Section Title END -->

		    <!-- NOTE: Tell us about your team! -->
			<!-- Team Box 1 -->
			<div class="teambox">
				<img src="images/manolis.jpg" alt="">
				<h3>Manolis Nikiforakis <span>IT Architect	</span></h3>
				<p>BEng, MSc and 12 years work experience as software engineer, team leader &amp; IT project manager. Kitesurfer and wind seeker.</p>
				<ul class="social">
			      <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Team Box 1 END -->
			
			<!-- Team Box 2 -->
			<div class="teambox">
				<img src="images/stratos.jpg" alt="">
				<h3>Stratos Theodorou<span>Android Developer - UI/UX</span></h3>
				<p>MEng, MSc and 4 years of work experience as a software engineer, android developer and UI designer. <span id="internal-source-marker_0.3816004737176143"><br>
			    UX Poet</span>.<br>
				</p>
				<ul class="social">
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
				<div class="clearfix"></div>
			</div>
			<!-- Team Box 2 END -->
			
			<!-- Team Box 3 -->
			<div class="teambox">
				<img src="images/yiannis.jpg" alt="">
				<h3>Yiannis Gkoufas <span>Backend Developer</span></h3>
				<p>BSc, MSc and 4 years of experience as a software engineer and java developer.<br>
				  <span id="internal-source-marker_0.">Algorithms expert</span>.<br>
			    <a href="#"><i class="icon-facebook"></i></a></p>
				<ul class="social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
				<div class="clearfix"></div>
			</div>
			<!-- Team Box 3 END -->
			
			<!-- Team Box 4 -->
			<div class="teambox">
				<img src="images/kenny.gif" alt="">
				<h3>You?<span>Designer / Developer / Data Scientist / Meteorologist</span></h3>
				<p>Bring the energy and determination you’ve had all your life and together we will build something great!				</p>
				<ul class="social">
                  <li></li>
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
				<div class="clearfix"></div>
			</div>
			<!-- Team Box 4 END -->
			
			<div class="clearfix"></div>
			
		</div>
		<!-- Team END -->
		
		
		<!-- Footer -->
		<Footer id="footer">
			<!-- As long as you use the default icons of this theme you are NOT allowed to change the "Some icons by icons8.com" text/link or to deleted it. The author of the icons needs to be attributed! -->
			<p>Copyright 2013 WeatherXM.com</p>
		</Footer>
		<!-- Footer END -->
		
	</div>
	<!-- Inner Wrapper END -->
	
</div>
<!-- Outer Wrapper END -->

<!-- // JavaScript (At the bottom for fast page loading.)  -->
<script src="js/jquery-ui-1.8.23.custom.min.js"></script>
<script src="js/jquery-back-to-top-plugin.js"></script>
<script src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
	$(function(){
		$("#accordion").accordion({
			header: "h2",
			autoHeight: false
		});
		$.toTop();
		$('#slider').nivoSlider({
			animSpeed: 1000, // Slide transition speed (in ms)
        	pauseTime: 4000, // How long each slide will show (in ms)
			controlNav: false,
			prevText: 'Prev',
			nextText: 'Next'
		});
	});

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "http://connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>


</body>
</html>